body {
    background: #f1f1f1;
    font-family: 'Open Sans';
}

.main-content{
    margin-top:180px;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    margin-right: 5%;
    margin-left: 5%;
    text-align: -webkit-center;
}

.container{
    align-items: center;
}

.card{
    width: 10rem;
    height: 10rem;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card-container:hover .card{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card figure{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .back{
    background: rgb(36, 77, 79);
    color: white;
    transform: rotateY(180deg);
    padding: 50%;
    color:white;
}

.col-sm{
    padding: 10px;
}
.fa , .bx{
    font-size: 4rem;
}

.bx-message-square-x{
    font-size: 30px;
}

#email_card{
    border-color: #850000;
}

#email_icon{
    color: #850000;
}

#email_back{
    background: #850000;
}

#city_card{
    border-color: #4B9797;
}

#icon_city{
    color: #4B9797;
}

#city_back{
    background: #4B9797;
}

#icon_phone{
    color: #59439B;
}

#phone_card{
    border-color: #59439B;
}

#phone_back{
    background: #59439B;
}

#icon_map_marker{
    color: #E24A3B;
}

#address_card{
    border-color: #E24A3B;
}

#address_back{
    background: #E24A3B;
}

#icon_postcode{
    color: #004c00;
}

#postcode_card{
    border-color: #004c00;
}

#postcode_back{
    background: #004c00;
}

#company_card{
    border-color: #707000;
}

#icon_company{
    color: #707000;
}

#company_back{
    background: #707000;
}

#icon_time{
    color: #6d6dff;
}

#time_card{
    border-color: #6d6dff;
}

#back_time{
    background: #6d6dff;
}

.second-content{
    margin-top: 50px;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10px;
    text-align: -webkit-center;
}


.appointment_header , .groomer_header{
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

#buttons_available_appointments{
    text-align: center;
}

.appointment_button{
    margin: 10px;
    width: 50%;
    background: #E4E9F7 !important;
    border: 1px solid #11101d !important;
    color: #11101d !important;
}

.appointment_button:hover{
    background: #11101d !important;
    border-color: #11101d !important;
    color: #fff !important;
}

#btn_appointment,
#btn_user_appointment_modal{
    box-shadow: inset 0 0 0 0 #ddd;
}

#buttons_available_appointments{
    height: 43vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.appointment_modal input{
    margin-top: 3%;
}

.swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel {
    box-shadow: inset 0 0 0 #ddd !important;
}

.appointment_modal{
    z-index: 100001;
}

/*Styling για το modal που πετάγεται στον χρήστη για υπενθύμιση του ραντεβού του*/
#user_appointment_modal{
    z-index: 100001;
}

#btn_user_appointment_modal{
    width: 100%;
    border-color: #4ecdc4;
    background: #4ecdc4;
}

#btn_user_appointment_modal:hover{
    border-color: #39968f;
    background: #39968f;
}