body {
    font-family: 'Open Sans';
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */
    body, html {
        height: 100%;
        margin: 0;
        background-color: rgb(212, 212, 212);
    }

    .header_form{
        text-align: center;
        margin-top: 30px;
        text-decoration: underline;
    }

    img{
        width: 50%;
        margin-left: 25%;
    }

    label{
        margin-top: 20px;
    }

    input[type=email]:focus,
    .form-select:focus{
        box-shadow: inset 0 0 0 0 #ddd;
    }

    form {
        margin-top: 8vh;
        max-width: 45rem;
        padding: 4.5rem 5rem;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
        max-height: 85vh;
        overflow-y: auto;
    }

    .required{
        color:red;
    }

    #btn_groomer_forget_pass{
        margin-top: 4vh;
        width: 100%;
    }

    #btn_groomer_forget_pass:hover{
        background-color: rgb(179, 179, 179);
        color: black;
        border-color: rgb(179, 179, 179);
        box-shadow: inset 0 0 0 0 #ddd;
    }

    .form-group{
        padding: 7px;
    }

    .error_form{
        color:red;
        border-radius: 5px;
        font-size: 15px;
        padding: 5px;
        letter-spacing: 1px;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .swal-text {
        text-align: center;
    }

}


/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

    body, html {
        height: 100%;
        margin: 0;
        background-color: rgb(212, 212, 212);
    }


    .header_form{
        text-align: center;
        margin-top: 30px;
        text-decoration: underline;
    }

    input[type=email]:focus,
    .form-select:focus{
        box-shadow: inset 0 0 0 0 #ddd;
    }

    label{
        margin-top: 20px;
    }

    img{
        width: 50%;
        margin-left: 25%;
    }

    form {
        margin-top: 8vh;
        max-width: 45rem;
        padding: 4.5rem 5rem;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
        max-height: 85vh;
        overflow-y: auto;
    }

    .required{
        color:red;
    }

    #btn_groomer_forget_pass{
        margin-top: 4vh;
        width: 100%;
    }

    #btn_groomer_forget_pass:hover{
        background-color: rgb(179, 179, 179);
        color: black;
        border-color: rgb(179, 179, 179);
        box-shadow: inset 0 0 0 0 #ddd;
    }

    .form-group{
        padding: 5px;
    }

    .error_form{
        color:red;
        border-radius: 5px;
        font-size: 15px;
        padding: 5px;
        letter-spacing: 1px;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .swal-text {
        text-align: center;
    }

}

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */

    body, html {
        height: 100%;
        margin: 0;
        background-color: rgb(212, 212, 212);
    }

    .header_form{
        text-align: center;
        margin-top: 30px;
        text-decoration: underline;
    }

    img{
        width: 50%;
        margin-left: 25%;
    }

    input[type=email]:focus,
    .form-select:focus{
        box-shadow: inset 0 0 0 0 #ddd;
    }

    label{
        margin-top: 20px;
    }

    form {
        margin-top: 8vh;
        max-width: 45rem;
        padding: 4.5rem 5rem;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
        max-height: 85vh;
        overflow-y: auto;
    }

    #btn_groomer_forget_pass{
        margin-top: 4vh;
        width: 100%;
    }

    #btn_groomer_forget_pass:hover{
        background-color: rgb(179, 179, 179);
        color: black;
        border-color: rgb(179, 179, 179);
        box-shadow: inset 0 0 0 0 #ddd;
    }

    .required{
        color:red;
    }

    #btn_register_user{
        width: 100%;
    }

    .form-group{
        padding: 5px;
    }

    .error_form{
        color:red;
        border-radius: 5px;
        font-size: 15px;
        padding: 5px;
        letter-spacing: 1px;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .swal-text {
        text-align: center;
    }

}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

    body, html {
        height: 100%;
        margin: 0;
        background-color: rgb(212, 212, 212);
    }

    .header_form{
        text-align: center;
        margin-top: 30px;
        text-decoration: underline;
    }

    img{
        width: 50%;
        margin-left: 25%;
    }

    input[type=email]:focus,
    .form-select:focus{
        box-shadow: inset 0 0 0 0 #ddd;
    }

    label{
        margin-top: 20px;
    }

    form {
        margin-top: 8vh;
        margin-bottom: 40px;
        max-width: 45rem;
        padding: 4.5rem 5rem;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
        max-height: 85vh;
        overflow-y: auto;
    }

    .required{
        color:red;
    }

    #btn_groomer_forget_pass{
        margin-top: 4vh;
        width: 100%;
    }

    #btn_groomer_forget_pass:hover{
        background-color: rgb(179, 179, 179);
        color: black;
        border-color: rgb(179, 179, 179);
        box-shadow: inset 0 0 0 0 #ddd;
    }

    .form-group{
        padding: 5px;
    }

    .error_form{
        color:red;
        border-radius: 5px;
        font-size: 15px;
        padding: 5px;
        letter-spacing: 1px;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .swal-text {
        text-align: center;
    }

}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */

    body, html {
        height: 100%;
        margin: 0;
        background-color: rgb(212, 212, 212);
    }

    .header_form{
        text-align: center;
        margin-top: 30px;
        text-decoration: underline;
    }

    img{
        width: 50%;
        margin-left: 25%;
    }

    input[type=email]:focus,
    .form-select:focus{
        box-shadow: inset 0 0 0 0 #ddd;
    }

    label{
        margin-top: 20px;
    }

    form {
        margin-left: 8vw;
        margin-right: 10vw;
        margin-top: 10vh;
        margin-bottom: 5vh;
        padding: 1.5rem 3rem;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
        max-height: 85vh;
        overflow-y: auto;
    }

    .required{
        color:red;
    }

    #btn_groomer_forget_pass{
        margin-top: 4vh;
        width: 100%;
    }

    #btn_groomer_forget_pass:hover{
        background-color: rgb(179, 179, 179);
        color: black;
        border-color: rgb(179, 179, 179);
        box-shadow: inset 0 0 0 0 #ddd;
    }

    .form-group{
        padding: 5px;
    }

    .error_form{
        color:red;
        border-radius: 5px;
        font-size: 15px;
        padding: 5px;
        letter-spacing: 1px;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .swal-text {
        text-align: center;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    /* CSS */
    body, html {
        height: 100%;
        margin: 0;
        background-color: rgb(212, 212, 212);
    }

    .header_form{
        text-align: center;
        margin-top: 30px;
        text-decoration: underline;
    }

    img{
        width: 50%;
        margin-left: 25%;
    }

    h3{
        font-size: 20px;
    }

    input[type=email]:focus,
    .form-select:focus{
        box-shadow: inset 0 0 0 0 #ddd;
    }

    label{
        margin-top: 20px;
    }

    form {
        width: 100vw;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 1.5rem 3rem;
        background-color:white;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
        max-height: 80vh;
        overflow-y: auto;
    }

    .required{
        color:red;
    }

    #btn_register_user{
        width: 100%;
    }

    .form-group{
        padding: 5px;
    }

    #btn_groomer_forget_pass{
        margin-top: 4vh;
        width: 100%;
    }

    #btn_groomer_forget_pass:hover{
        background-color: rgb(179, 179, 179);
        color: black;
        border-color: rgb(179, 179, 179);
        box-shadow: inset 0 0 0 0 #ddd;
    }

    .error_form{
        color:red;
        border-radius: 5px;
        font-size: 15px;
        padding: 5px;
        letter-spacing: 1px;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .swal-text {
        text-align: center;
    }


}